DATABASE_URL="mysql://user_name:your_mysql_password@localhost:3306/your_db"
MYSQL_DATABASE="your_db"
MYSQL_ROOT_PASSWORD="your_mysql_password"
GOOGLE_CLIENT_ID="**********"
GOOGLE_CLIENT_SECRET="********"
GOOGLE_APPLICATION_CREDENTIALS="./hoge-firebaseadmin.json"

FIREBASE_API_KEY="*****"
FIREBASE_AUTH_DOMAIN="****"
FIREBASE_PROJECT_ID="***:*"
FIREBASE_STORAGE_BUCKET="***"
FIREBASE_MESSAGING_SENDER_ID="**********"
FIREBASE_APP_ID="********"
FIREBASE_MEASUREMENT_ID="********"

FRONTEND_URL = http://localhost:3000/